body{

  background-color: pink;
  text-align: center;
}

#playing-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  gap: 20px;
  flex-wrap: wrap;
}

.card{


  font-size: 20pt;
  position: absolute;
  width:  3.75em;
  height: 5.00em;justify-content:space-between;

}

.left, .middle, .right{
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;


}

.left {
 
  color: #000000;
  display: flex;justify-content:flex-start;
  width: 100%;
  height: 100%;
  
  
}

.middle {
  display: flex;
  justify-content: center;

}

.right {
  display: flex;
  justify-content: flex-end;


}