body{
  font-family: arial;
  background-color: pink;
  text-align: center;
}

#playing-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  gap: 20px;
  flex-wrap: wrap;
}

.card{

  line-height: 0.8em;
  background-color: white;  
  border: 2px solid black;          
  margin:0;border-radius:10px;              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  color: #000000;
    display: flex;
  font-size: 20pt;
  position: relative;
  width:  3.75em;
  height: 5.00em;justify-content:space-between;

}

.left, .middle, .right{
  
  
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;


}

.left {
 
  padding-top: 3px;
  padding-left: 2px;
  display: flex;align-self:flex-start;
  width: 100%;
  height: 100%;
  
  
}

.middle {
  display: flex;
  align-self: center;
  justify-content:center;

  
  flex-wrap: wrap;
  flex-direction: column;
  transform: scale(1.4);

}

.right {
 flex-direction: column-reverse;
  margin-bottom: 50px;
  padding-right: 5px;
  display: flex;
  justify-content:flex-end;
  align-self: flex-end;
   top: -3px;
  left: 40%;
  transform: rotatex(180deg);
   

}

.red {

  color: red;

}
