


#email {

  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px;
  box-sizing: border-box;


}

#confidential, #top-secret {

  display:inline-block;
  padding-left: 150px;
  margin-left: 50px;
  border: solid red 2px;
  transform: rotate(25deg)
}

.blurred{

filter: blur(3px);


}