body {


  background-color: rgb(255, 255, 204);

}


#email {

  background-color: white;
  
  padding: 50px;
  margin-top: 50px;
  width: 500px;
  border: 2px solid;
  box-sizing: border-box;


}

#confidential, #top-secret {

  display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 50px;
  color: red;
  border: solid red 4px;
  transform: rotate(25deg)
}

.blurred{

filter: blur(3px);


}