
*{

  font-family: arial;

}

body {
  display: flex;
  margin: 0 auto;
  background-color: rgb(255, 255, 204);

}


#email {

  background-color: white;
  
  padding: 50px;
  margin: 50px auto 50px auto;
  width: 500px;
  border: 2px solid;
  box-sizing: border-box;


}

#confidential, #top-secret {

  display:inline-block;
  padding: 5px;
  
  margin-left: 50px;
  color: red;
  border: solid red 4px;
  transform: rotate(25deg);
  border-radius: 10px;
}

.blurred{

filter: blur(3px);


}