* {

        text-align:center;
        font-family: arial;
        margin: 0 2px 0 2px;

        }

        table {

          margin: 0 auto;
          border-collapse: collapse;

        }


        tr[class="read"] {
          
          background-image: linear-gradient(90deg, rgba(21, 179, 21, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(175, 237, 83, 1) 100%);
          }

          tr[class="in-progress"] {


          background-image: #b02020;
          background: linear-gradient(90deg, rgba(245, 32, 32, 1) 0%, rgba(38, 209, 109, 1) 50%, rgba(41, 156, 0, 1) 100%);

          }

          tr[class="to-read"] {


            background-image: #f55353;
            background: linear-gradient(90deg, rgba(245, 83, 83, 1) 0%, rgba(255, 255, 255, 1) 71%);

            }

            span{
            display:inline-block;
          

            }

            tr[class="read"] span[class="status"] {
             margin: 0 3px 0 3px;
            height: 1rem ;
            width: 6.5rem;
            padding: 2px;
            border: 2px solid green;
            border-radius: 10px;
            background-image: background: #15b315;
            background: linear-gradient(90deg, rgba(21, 179, 21, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(21, 210, 21, 1) );


            }

            tr[class="to-read"] span[class="status"] {
             margin: 0 3px 0 3px;;
            height: 1rem ;
            width: 6.5rem;
            padding: 2px;
            border: 2px solid green;
            border-radius: 10px;
            background-image: #b02020;
            background: linear-gradient(90deg, rgba(245, 32, 32, 1) 0%, rgba(245, 32, 32, 1) 50%, rgba(41, 156, 0, 1) 100%);

            }

            tr[class="in-progress"] span[class="status"] {
            margin: 0 3px 0 3px;;
            height: 1rem ;
            width: 6.5rem;
            padding: 2px;
            border: 2px solid green;
            border-radius: 10px;
            background-image: #b02020;
            background: linear-gradient(90deg, rgba(245, 32, 32, 1) 0%, rgba(41, 156, 0, 1) 50%, rgba(41, 156, 0, 1) 100%);




            }

            span[class="status"], span[class^="rate"] {
              
              height: 1.5rem;
              width: 5rem;
              padding: 5px;
                  }

                  
span[class^="rate"] > span{
   display: inline-block;
  
   height: 5px;
   width: 5px;
   background-color: transparent;
    border: 2px transparent;
    border-radius: 10px;
}


 

span[class~="one"] span:first-of-type {
  background-image: linear-gradient(
    90deg,
    rgb(255, 251, 0) 0%,
    rgb(204, 255, 0) 50%,
    rgb(255, 251, 0) 100%
  );
  padding: 4px;
}

span[class~="two"] span:nth-of-type(-n+2) {
  background-image: linear-gradient(
    90deg,
    rgb(255, 251, 0) 0%,
    rgb(204, 255, 0) 50%,
    rgb(255, 251, 0) 100%
  ); 
  padding: 4px;}

  span[class~="three"] span {
  background-image: linear-gradient(
    90deg,
    rgb(255, 251, 0) 0%,
    rgb(204, 255, 0) 50%,
    rgb(255, 251, 0) 100%
  );
  padding: 4px; }